CROSS_COMPILE      ?= riscv64-unknown-elf-
AR = $(CROSS_COMPILE)ar
CC = $(CROSS_COMPILE)gcc

KERNEL_ARCH_CFLAGS  = -march=rv64imac -mabi=lp64
KERNEL_ARCH_LDFLAGS =
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS = $(ARCHDIR)/common/boot.o \

CRT_OBJS = \
$(MACHINE_DIR)/crt.o \

$(MACHINE_DIR)/crt.o: $(MACHINE_DIR)/crt.s $(ARCHDIR)/common/crtm.s

