CROSS_COMPILE      ?= riscv64-unknown-elf-
AR = $(CROSS_COMPILE)ar
CC = $(CROSS_COMPILE)gcc

KERNEL_ARCH_CFLAGS  = -march=rv64imac -mabi=lp64
KERNEL_ARCH_LDFLAGS =
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS = \
$(ARCH_DIR)/common/boot.o \
$(ARCH_DIR)/common/trap.o \
$(MACHINE_DIR)/crt.o \
$(MACHINE_DIR)/setup.o

#
# Declare dependencies
$(MACHINE_DIR)/crt.o: $(MACHINE_DIR)/crt.s $(ARCH_DIR)/common/crtm.s
