CROSS_COMPILE      ?= riscv64-unknown-elf-
AR = $(CROSS_COMPILE)ar
CC = $(CROSS_COMPILE)gcc
LD = $(CROSS_COMPILE)gcc
ARCH_CFLAGS  = \
	-march=rv64ima \
	-mabi=lp64 \
	-mcmodel=medany \
	-ffunction-sections \
	-fdata-sections \
	-nostdinc \
	-Wall \
	-Werror \
	-Wformat-truncation=0
	-std=c17
	#	-Wextra \



ARCH_LDFLAGS = \
-nostdlib \
-nostartfiles \
-static \
-lgcc \
-Wl,--nmagic \
-Wl,--gc-sections \
